.navbar {
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    margin-bottom: 50px;
    & .navbar__main-title {
        color: $main-title-color;
        font-size: 3em;
        padding-left: 50px;
        text-decoration: none;
    }
    & .navbar__nav {
        padding-right: 50px;
        font-family: $font-maintitle;
        @media screen and (max-width: 768px) {
            display: none;
            }
    }
}
.navbar__nav-link {
    padding-left: 5px;
    padding-right: 5px;
}
a {
    text-decoration: none;
    color: $text-color;
    margin-left: 10px;
    & .fa-shopping-cart {
        color: $main-title-color;
    }
}

.logo-title {
    display: flex;
    align-items: center;
    padding-left: 50px;
    font-family: $font-logo;
    & img {
    width: 82px;
    height: 72px;
    }
    @media screen and (max-width: 768px) {
    font-size: 0.7em;
    padding: 10px 10px 10px 10px;
    }

}