@font-face {
    font-family: 'OpenSansLight', sans-serif;
    src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'OpenSansBold', sans-serif;
    src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('../fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: 'ShadowsIntoLight', cursive;
    src: url('../fonts/ShadowsIntoLight-Regular.ttf'); 
}