/*fonts*/

$font-maintitle: 'OpenSansBold', sans-serif;
$font-text: 'OpenSansLigt', sans-serif;
$font-logo: 'ShadowsIntoLight', cursive;

/*colors*/

$primary-color: #162d54;
$main-title-color: #d07f4d;
$text-color: #424242;
$nav-color: #FAFAFA;