/*fonts*/

$font-maintitle: 'OpenSansBold', sans-serif;
$font-text: 'OpenSansLigt', sans-serif;
$font-logo: 'ShadowsIntoLight', cursive;

/*colors*/

$primary-color: #f3e9f1;
$main-title-color: #424242;
$text-color: #424242;
$nav-color: #FAFAFA; 