.order__container {
    margin: auto;
    margin-top: 150px;
    background-color: $primary-color;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #a8cdf7;
    width: 40%;
}

.merci {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: $font-logo;
}

.prix-total {
    margin-top: 30px;
}