.product__single {
    max-width: 1200px;
    min-height: 600px;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    @media screen and (max-width: 768px) {
        padding-left: 0px;
        padding-right: 0px;
     }
}

.card__single-product {
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        }
}

.card__left-side {
    width: 60%;
    & .card__single-img {
        width: 400px;
        padding-top: 20px;
        @media screen and (max-width: 768px) {
            margin-bottom: 30px;
            width: 200px;
            }
    }
}

.card__right-side {
    text-align: left;
    width: 40%;
    & .card__single-name {
        font-size: 2.5em;
        margin-bottom: 20px;
    }
    & .card__single-description {
        font-family: 'Raleway', sans-serif;
        font-size: 0.6em;
        margin-bottom: 20px;
    }
    & .card__single-price {
        letter-spacing: 1px;
    }
}

.card__single-btn {
    margin-top: 50px;
    cursor: pointer;
    border: 0px;
    border-radius: 9.5px;
    background: 0px center rgb(43, 43, 43);
    color: white;
    display: inline-block;
    font-weight: 14px;
    padding: 0px 10px;
    letter-spacing: 0.5px;
    height: 35px;
    line-height: 35px;
    text-transform: uppercase;
    &:hover {
        background: 0px center #616161;
    }
}